* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
  /* list-style: none; */
  text-decoration: none;
  /* border: 1px solid grey; */
}

html {
  /* font-size: 62.5%; */
}

body {
  background-color: #ffffff4f;
  display: flex;
  /* flex-direction: row; */
  flex-wrap: wrap;
}

aside {
  /* display: fixed; */
  background: rgb(219, 219, 219);
  /* margin: 0 auto; */
  /* border: 2px solid grey; */
  width: 300px;
  margin-right: 10px;
  height: 100vh;
  position: fixed;
  padding: 10px 0 0 0;
  text-align: center;
  font-size: 2em;
}

aside a {
  color: inherit;
}

aside ul {
  padding: 15px 0 0 0;
  /* border: 1px solid black; */
  list-style-type: none;
  margin: 20px;
}

aside li{
  padding: 15px;
  border: 1px solid black;
  margin: 10px;
}

aside h2 {
  padding: 15px;
  border: 1px solid black;
  font-size: 1.3em;
  margin: 10px;
}

/* Mexico Flag */
/*
#box-container {
  background-color: #ffffff;
  width: 300px;
  margin: 0 0 auto;
  margin-left: 400px;
}

#box-1 {
  background-color: red;
  width: 350px;
  height: 200px;
}

#box-2 {
  background-color: rgb(255, 255, 255);
  width: 350px;
  height: 200px;
}

#box-3 {
  background-color: rgb(14, 105, 19);
  width: 350px;
  height: 200px;
}
*/

/* Here is the shortcut root? -------------------------------------- */
:root {
  --background:silver;
  --background-form: tomato;
}

/* Main Content */
main {
  width: 100vh;
  padding: 0 20px 20px 20px;
  margin: 0px auto;

  /* border: 8px solid black; */
  background-color: hsl(247, 4%, 46%);
  margin-left: 300.5px;
  background: linear-gradient(180deg, #000000, #000000);
  /* background: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png); */
}


#myblog {
  box-shadow: 0px 12px 100px 0px rgb(1, 149, 168);
  text-align: center;
  border-radius: 8px;
  background: rgb(219, 219, 219);

}

main nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
  font-size: 2em;
  opacity: 1.5;
}

nav form {
  display: flex;
  text-align: center;
  padding: 10px;
}

nav input {
  border-radius: 20px;
  border: 1px solid silver;
}

nav a {
  color: white;
  opacity: 0.5;
}

h1:hover {
  color: rgb(214, 0, 0);
  cursor: pointer;
}

main figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  color: white;
}

figure a {
  color: white;
  text-decoration: none;
}

.me {
  width: 200px;
  /* padding: 20px 20px 20px 20px; */
  border-radius: 50%;
  border: 7px solid rgb(46, 46, 46);
}

/* Audio */
#audio {
  display: flex;
  justify-content: center;
}

audio {
  padding: 15px;
}
/* -------------------------------- */
h2 {
  font-size: 20px;
}

p {
  width: 70%;
  border-radius: 5px;
}

a:hover {
  color: rgb(255, 0, 0);
}

@keyframes background-color {
  100% {
    background-color: rgb(143, 21, 0);
  }
}

.article-background {
  /* background-color: var(--background); */
  background: rgb(219, 219, 219);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: justify;
  line-height: 15px;
}

/*  
#gradient-color {
  border-radius: 10px;
  width: 100%;
  height: 10px;
  background: 
  repeating-linear-gradient(45deg, rgb(122, 122, 3) 0px, rgb(250, 250, 5) 40px,
  rgb(54, 54, 54) 40px, black 80px);
}
*/


/* Here the Eclipse starts -------------------------------------------->*/
#eclipse {
  display: flex;
  justify-content: center;
}

.sun {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  margin: 45px;
  animation-name: sunday;
  animation-duration: 20s;
  animation-iteration-count: infinite;

}

.moon {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  animation-name: rainbow;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}

@media (max-width: 800px) {
  .sun {
    width: 100px;
    height: 100px;
  }

  .moon {
    width: 100px;
    height: 100px;
  }
}

@keyframes sunday {
  0% {
    background-color: rgb(172, 155, 0);
    box-shadow: 0px 12px 100px 0px rgba(253, 186, 0, 0.452);
  }

  50% {
    background-color: rgb(199, 52, 7);
    box-shadow: 0px 12px 100px 0px rgb(253, 186, 0);
  }

  100% {
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 12px 100px 0px rgb(253, 186, 0);
  }
}

@keyframes rainbow {
  0% {
    background-color: rgb(0, 0, 0);
    left: 100px;
  }

  50% {
    background-color: rgb(0, 0, 0);
  }

  100% {
    background-color: rgb(0, 0, 0);
    left: 0px;
  }
}

/* Heart starts here */

/* 
.heart-back {
  display: block;
  margin: 0 auto;
  background-color: rgb(63, 63, 63);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation-name: heart-back;
  animation-iteration-count: infinite;
}

.heart {
  position: relative;
  margin: auto;
  top: 73px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(165, 0, 0);
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.heart::after {
  background-color: rgb(165, 0, 0);
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}

.heart::before {
  content: '';
  background-color: rgb(165, 0, 0);
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(0.6) rotate(-45deg);
  }
}

@keyframes heart-back {
  50% {
    background: rgb(241, 36, 0);
  }
}

 */

/* Applied Visual Design: Bezier Curve to Move a Graphic  ------------------->*/
.balls{
  border-radius: 50%;
  position: fixed;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  animation-name: bounce;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  z-index: 1;
}

#red {
  background: rgba(255, 0, 0, 0.055);
  left: 27%;
  animation-timing-function: linear;
}

#blue {
  background: rgba(0, 0, 255, 0.089);
  left: 68.5%;
  animation-timing-function: ease-out;
}

@keyframes bounce {
  0% {
    top: 0px;
  }

  100% {
    top: 100%;
  }
}

footer {
  color: rgb(143, 143, 143); 
  text-align: center;
  margin-top: 30px;
}