* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: monospace;
}

/* Here star the divs left and right ---------------------------------> */
#father {
  background-color: #c0b40b;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#box-container {
  background-color: #ffffff;
  width: 100%;
  display: flex;
  justify-content: space-between;
  z-index: 1;
}

#box-1 {
  background-color: red;
  width: 350px;
  height: 200px;
}

#box-2 {
  background-color: rgb(14, 105, 19);
  width: 350px;
  height: 200px;
}

#content {
  width: 50%;
  padding: 0 20px 20px 20px;
  border: 5px solid black;
  background-color: hsl(246, 83%, 16%);
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
  /* background: linear-gradient(90deg, #62c5c5, #0b6369); */
  /* background: url(https://cdn-media-1.freecodecamp.org/imgr/MJAkxbh.png); */
}

/* Here is the shortcut? -------------------------------------- */
:root {
  --background:silver;
  --background-form: tomato;
}

#content header {
  box-shadow: 0px 12px 100px 0px rgb(253, 0, 0);
  text-align: center;
  border-radius: 2px;
  background-color: rgb(182, 182, 182);
  padding: 5px;
}

#content nav {
  display: flex;
  justify-content: space-between;
  text-align: center;
}

nav a {
  color: white;
}

h1:hover {
  color: rgb(214, 0, 0);
  cursor: pointer;
}

#content figure {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 40px;
  color: white;
}

figure a {
  color: white;
  text-decoration: none;
}

.smaller-img {
  width: 100px;
  border-radius: 50%;
  padding: 1%;
  background-color: rgb(56, 56, 56);
  box-shadow: 0px 0px 0px 5px  rgba(0, 195, 255, 0.603),
  0px 0px 0px 10px  rgba(255, 0, 0, 0.582),
  0px 0px 0px 15px rgba(6, 71, 3, 0.541);
}

.smaller-img:hover {
  transform: scale(.5);
}

.me {
  width: 200px;
  padding: 20px 20px 20px 20px;
  border-radius: 50%;
}


#audio {
  display: flex;
  justify-content: center;
}

audio {
  padding: 15px;
}

h2 {
  font-size: 20px;
}

p {
  width: 70%;
  border-radius: 5px;
}

a:hover {
  color: rgb(255, 0, 0);
}

@keyframes background-color {
  100% {
    background-color: rgb(143, 21, 0);
  }
}

.article-background {
  background-color: var(--background);
  padding: 20px;
  margin: 10px;
  border-radius: 10px;
  text-align: justify;
  line-height: 15px;
}

#gradient-color {
  border-radius: 10px;
  width: 100%;
  height: 10px;
  background: 
  repeating-linear-gradient(45deg, rgb(122, 122, 3) 0px, rgb(250, 250, 5) 40px,
  rgb(54, 54, 54) 40px, black 80px);
  /* transform: skewX(45deg); */
  /* transform: skewY(-45deg); */
  /* z-index: -1; */
}

/* Here the Eclipse starts -------------------------------------------->*/
#eclipse {
  display: flex;
  justify-content: center;
}

.sun {
  box-shadow: 0px 12px 100px 0px rgb(253, 186, 0);
  background-color: red;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  position: relative;
  margin: 45px;
  /* margin: 50px auto; */
}

.moon {
  border-radius: 50%;
  width: 300px;
  height: 300px;
  position: absolute;
  animation-name: rainbow;
  /* animation-fill-mode: forwards; */
  animation-duration: 20s;
  animation-iteration-count: infinite;
  /* animation-delay: 2s; */
  /* animation-fill-mode: both;s */
}

@keyframes rainbow {
  0% {
    background-color: rgb(0, 0, 0);
    /* top: 0px; */
    left: 100px;
  }

  50% {
    background-color: rgb(0, 0, 0);
    /* top: 50px; */
    /* left: 45px; */
    /* opacity: 0.5; */
  }

  100% {
    background-color: rgb(0, 0, 0);
    /* top: 0px; */
    left: 0px;
  }
}

/* Here the heart starts -----------------------------------------------> */ 
.heart-back {
  display: block;
  margin: 0 auto;
  background-color: rgb(63, 63, 63);
  width: 200px;
  height: 200px;
  border-radius: 50%;
  animation-name: heart-back;
  /* animation-duration: 10s; */
  animation-iteration-count: infinite;
}

.heart {
  position: relative;
  margin: auto;
  top: 73px;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgb(165, 0, 0);
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  /* animation-timing-function: ease-out; */
}

.heart::after {
  background-color: rgb(165, 0, 0);
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}

.heart::before {
  content: '';
  background-color: rgb(165, 0, 0);
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(0.6) rotate(-45deg);
  }
}

@keyframes heart-back {
  50% {
    background: rgb(241, 36, 0);
  }
}

/* Applied Visual Design: Bezier Curve to Move a Graphic  ------------------->*/
.balls{
  /* position: absolute; */
  border-radius: 50%;
  position: fixed;
  width: 50px;
  height: 50px;
  margin-top: 50px;
  animation-name: bounce;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  /* overflow: hidden; */
  z-index: 1;
}

#red {
  background: rgba(255, 0, 0, 0.055);
  left: 27%;
  animation-timing-function: linear;
}

#blue {
  background: rgba(0, 0, 255, 0.089);
  left: 68.5%;
  animation-timing-function: ease-out;
}

@keyframes bounce {
  0% {
    top: 0px;
  }

  100% {
    top: 100%;
  }
}

footer {
  color: rgb(143, 143, 143); 
  text-align: center;
  margin-top: 30px;
}